.projectContainer{
  padding: 5vh 0 15vh 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: auto;
}
.projectCards{
  display: flex;
  flex-direction: row;
  width: max-content;
  z-index: 2;
}
.projectCards > .card{
  width: 80vw;
  display: flex;
  flex-direction: column;
  padding: var(--nrm-padding);
}

.projectCards > .card > .card-wrapper{
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.projectCards > .card > .card-wrapper > .top{
  height: min(220px, 30vh);
  background-color: var(--clr-lightdark-red);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.projectCards > .card > .card-wrapper > .top.whole{
  background-size: 100% auto;
}
.projectCards > .card > .card-wrapper > .bottom{
  height: min(150px, 30vh);
  background-color: var(--clr-dark-red);
  padding: var(--nrm-padding);
}
.projectCards > .card > .card-wrapper > .bottom > span{
  font-weight: bold;
  text-transform: uppercase;
  color: var(--clr-white);
  font-size: .9rem;
  letter-spacing: 2px;
}
.projectCards > .card > .card-wrapper > .bottom > p{
  color: var(--clr-gray);
  font-size: .8rem;
  letter-spacing: 1px;
  line-height: 1.2rem;
  font-weight: normal;
}

.projectContainer.active > .projectCards > .card{
  animation-name: slide-in;
}
.projectContainer.active > .projectCards > .card:nth-child(odd){
  animation-duration: 400ms;
}
.projectContainer.active > .projectCards > .card:nth-child(even){
  animation-duration: 600ms;
}

@media screen and (min-width: 46.856rem){
  .projectContainer{
    overflow: hidden;
    width: auto;
    display: flex;
  }
  .projectCards{
    display: grid;
    grid-template-areas: 'item item item';
    justify-content: center;
    margin-inline: auto;
  }
  .projectCards > .card{
    width: 320px;
    padding: 5px;
  }
}
@media screen and (max-width: 820px){
  .projectCards{
    grid-template-areas: 'item item';
  }
  .projectCards > .card{
    width: 300px;
  }
}