/***** CONTACT *****/
.contactContainer{
  padding: 5vh 5vw;
}
.contactContainer > .contactOptions{
  padding-top: 5vh;
  display: flex;
  justify-content: center;
  place-items: center;
  z-index: 2;
}
.contactContainer > .contactOptions > a > span{
  display: none;
  padding-left: var(--nrm-padding);
}
.contactContainer > .contactOptions > h2{
  color: var(--clr-white);
  opacity: .8;
  letter-spacing: 1px;
  font-weight: 500;
  display: none;
}
.contactContainer > .contactOptions > a{
  color: var(--clr-gray);
  text-decoration: none;
  padding: var(--nrm-padding);
  animation: slide-in 500ms;
}
.contactContainer > .contactOptions > a:hover,
.contactContainer > .contactOptions > a:active,
.contactContainer > .contactOptions > a:focus{
  color: var(--clr-white);
  transition: var(--transition);
  cursor: pointer;
}

.contactContainer.active > .contactOptions{
  animation: fade-in 1s;
}

.contactContainer.active > .contactOptions > a:nth-child(1){
  animation-delay: 100ms;
}
.contactContainer.active > .contactOptions > a:nth-child(2){
  animation-delay: 300ms;
}
.contactContainer.active > .contactOptions > a:nth-child(3){
  animation-delay: 500ms;
}
.contactContainer.active > .contactOptions > a:nth-child(4){
  animation-delay: 700ms;
}
.contactContainer.active > .contactOptions > a:nth-child(5){
  animation-delay: 900ms;
}

@media screen and (min-width: 46.856rem){
  .contactContainer{
    display: flex;
    flex-direction: row-reverse;
    padding: 10vh 20vw;
  }
  .contactContainer > .contactOptions{
    flex: 7;
    padding: 2.5vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .contactContainer > .contactOptions > h2{
    display: block;
  }
  .contactContainer > .contactOptions > a > span{
    display: initial;
  }
}

.footer{
  padding: var(--nrm-padding);
  text-align: center;
  background-color: var(--clr-darker-red);
  color: var(--clr-gray);
}
.footer > span{
  font-size: .8rem;
  letter-spacing: 1px;
  font-weight: 400;
}