body{
  background: linear-gradient(
    180deg, 
    #1D0202 0%, 
    #350909 65.16%,
    #470F0F 99.98%, 
    rgba(164, 12, 12, 0.86) 100%, 
    rgba(55, 10, 10, 0) 100%);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  width: 100%;
}
.btn-primary{
  background: transparent;
  color: var(--clr-red);
  border: 1px solid var(--clr-red);
  border-radius: 20px;
  padding: var(--nrm-padding) 40px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
  font-size: small;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active{
  background-color: var(--clr-red);
  color: var(--clr-white);
  transition: var(--transition);
  outline: none;
  cursor: pointer;
}
.btn-secondary{
  padding: var(--nrm-padding) 25px;
  color: var(--clr-white);
  border: 1px solid var(--clr-red);
  border-radius: 20px;
  background: var(--clr-red);
  letter-spacing: 2px;
  text-decoration: none;
  font-size: small;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active{
  opacity: .8;
  cursor: pointer;
  transition: var(--transition);
}

/***** NAVBAR *****/
.PRTFnavbar{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100vw;
  background-color: var(--clr-dark-red);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 2px solid rgb(255, 0,0,.3);
  z-index:9;
}
.PRTFnavbar > .item{
  text-decoration: none;
  color: var(--clr-default);
  display: grid;
  place-items: center;
  opacity: .8;
}
.PRTFnavbar > .item > img{
  height: 40px;
  width: 40px;
}
.PRTFnavbar > .item > span{
  padding-top: 3px;
  font-size: 7pt;
}
.PRTFnavbar > .item.brand > span{
  display: none;
}
.PRTFnavbar > .item:hover,
.PRTFnavbar > .item:focus{
  opacity: 1;
  color: var(--clr-white);
  transition: var(--transition);
}
.PRTFnavbar > .item.brand:hover > img,
.PRTFnavbar > .item.brand:focus > img{
  animation: brand-shake 400ms;
}
@keyframes brand-shake {
  0%{
    transform: rotate(0);
  }
  30%{
    transform: rotate(5deg);
  }
  60%{
    transform: rotate(0deg);
  }
  90%{
    transform: rotate(-5deg);
  }
  100%{
    transform: rotate(0);
  }
}
@media screen and (min-width: 46.856rem) {
  .PRTFnavbar{
    position: sticky;
    justify-content: left;
    padding: 0 5vw;
    gap: 2vw;
    border-bottom: 2px solid rgb(255, 0,0,.3);
    box-shadow: 0px 1px 1px 1px rgba(55, 10, 10, 0.25);
    width: auto;
  }
  .PRTFnavbar > .item > i{
    display: none;
  }
  .PRTFnavbar > .item.brand{
    display: flex;
    gap: 1vw;
    order: -1;
  }
  .PRTFnavbar > .item.brand > span{
    display: initial;
  }
  .PRTFnavbar > .item > span{
    font-size: 1rem;
  }
  .PRTFnavbar.active{    
    top: 0;
    left: 0;
  }
}

/***** HEADER *****/
.PRTFheader{
  padding-top: var(--nrm-padding);
  display: grid;
  place-items: center;  
  height: 60px;
  letter-spacing: 1px;
}
.PRTFheader > p{
  display: inline;
  margin: 0px;
  padding: 0px;
  font-size: 18pt;
  color: var(--clr-white);
  font-weight: bold;
  text-transform: capitalize;
  z-index: 2;
}
.PRTFheader > span{
  font-size: 9pt;
  font-weight: 500;
  color: var(--clr-gray);
  z-index: 3;
}
.PRTFheader > .boxes{
  height: 0;
  position: relative;
  top: 30px;
  display: flex;
  align-items: center;
}
.PRTFheader .box{
  border: 2px solid rgba(255, 0, 0, 0.3);
  height: 40px;
  width: 40px;
  transform: rotate(45deg);
  z-index: 0;
}
.PRTFheader .box.left,
.PRTFheader .box.right{
  height: 30px;
  width: 30px;
}
.PRTFheader .box.left{
  position: relative;
  left: 30px;
}
.PRTFheader .box.right{
  position: relative;
  right: 30px;
}
.PRTFheader > .boxes.active > .box{
  transform: rotate(135deg);
  transition: var(--transition);
}
.PRTFheader > .boxes.active > .box.left{
  left: 0;
  transition: var(--transition);
}
.PRTFheader > .boxes.active > .box.right{
  right: 0;
  transition: var(--transition);
}

@keyframes fade-in {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes slide-in {
  from{
    opacity: .1;
    transform: translateX(-10vw);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in-above{
  0%{
    position: relative;
    top: -3vh;
    opacity: .1;
  }
  to{
    position: relative;
    top: 0;
    opacity: 1;
  }
}
@keyframes header-name-animate{
  0%{
      opacity: 0;
  }
  20%{
      opacity: .4;
  }
  50%{
      opacity: .65;
  }
  80%{
      opacity: 1;
  }
  100%{
      opacity: 1;
  }
}