:root {
  font-family: Inter, Avenir, Helvetica, Arial, Roboto, sans-serif;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --clr-default: #c5c5c5;
  --clr-gray: #8e8e8e;
  --clr-white: #fffafa;
  --clr-red: #ff0000;
  --clr-dark-red: #4A0303;
  --clr-darker-red: #300101;
  --clr-lightdark-red: #470F0F;

  --transition: 400ms all ease-in-out;

  --nrm-padding: 10px;
}
@media screen and (min-width: 46.856rem) {
  :root{
    --nrm-padding: 15px;
  }
}
body{
  margin: 0 !important;
  padding: 0 !important;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: var(--clr-default);
}
.icon-rotate{
  transform: rotate(45deg);
}